#!/usr/bin/env bash

## some stuff for alexa project
# export COBOT_HOME=~/projects/alexa/cobot; export PATH=$COBOT_HOME/bin:$PATH
# export FANTOM_WORKDIR=~/projects/alexa/amazon_alexa_challenge; export PATH="$FANTOM_WORKDIR/bin:$PATH"

# Make vim the default editor.
export EDITOR='vim';

# # Add fzf path
# export PATH=~/.sim/pack/minpac/start/fzf/bin:$PATH
# export FZF_DEFAULT_COMMAND='rg --files'

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);


# # Locate the global Python where virtualenvwrapper is installed.
# if [ "${VIRTUALENVWRAPPER_PYTHON:-}" = "" ]
# then
#     VIRTUALENVWRAPPER_PYTHON="$(command \which python)"
# fi
export VIRTUALENVWRAPPER_PYTHON='/usr/local/bin/python3';

